aws_account_id        = "YOUR_AWS_ACCOUNT_ID"
aws_region            = "us-east-1"
environment           = "prod"
originals_bucket_name = "fishingreport-original-prod"
processed_bucket_name = "fishingreport"
api_url               = "https://fishing-report.site"
service_secret        = "YOUR_SERVICE_SECRET"
